<!-- <p>Entrez votre poids</p>
<input type="number"[(ngModel)]="poids" (keyup)="calcIMC()">

<p>Entrez votre taille</p>
<input type="number"[(ngModel)]="taille" (keyup)="calcIMC()">
<br><br>

<p>Votre IMC est de</p>
<p>{{ imc }}</p>

<p>{{ comment }}</p> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
            <span class="navbar-brand"> IMC</span> 	
            
            </div>
        </nav>

        <div class="container py-5">
            <div class="col-md-6 col-12	">
                            
                <div class="mb-3">
                    <label for="poids">Entrez votre poids (en kg)</label>
                    <input class="form-control" type="number" [(ngModel)]="poids"  aria-describedby="poids" placeholder="poids">
                </div>

                <div class="mb-3">
                    <label for="taille">Entrez votre taille (en m)</label>
                    <input class="form-control" type="number" [(ngModel)]="taille"  aria-describedby="taille" placeholder="taille">
                </div>

                <button class="btn btn-primary" (click)="calculerImc()">Calculer</button>

                <div class="alert alert-{{ color }} mt-3" role="alert">
                    <h1 class="h4">Votre IMC est de {{ imc }}.</h1>
                    <h2>Félicitations ! Vous êtes {{ tranche }}.</h2>
                </div>

                <div>
                    <p *ngIf="imc < 18.5">Pour être un Pitch il vous manque encore {{ differenceSup }} kg.</p>
                    <p *ngIf="imc >= 25">Vous avez {{ differenceInf }} kg de trop pour être un Pitch.</p>
                    <p *ngIf="imc >= 18.5 && imc < 25">Il vous manque encore {{ differenceSup }} kg pour être une brioche, et vous avez {{ differenceInf }} kg de trop pour être une crêpe.</p>
                </div>

            </div>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Comme j&lsquo;aime pas !</p></div>
        </footer>
    </body>
</html>